@using BugTracker.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="">
    @if (User.IsInRole("Admin"))
    {
        <p>You are an admin!</p>
    }
</div>
<style>
    .clickable {
        cursor: pointer;
        text-decoration: none;
    }
</style>

<div class="row">
    <div class="col-xs-8">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="home"> home </div>
            <div role="tabpanel" class="tab-pane fade" id="profile"> profile </div>
            <div role="tabpanel" class="tab-pane fade" id="messages"> messages </div>
            <div role="tabpanel" class="tab-pane fade" id="settings"> settings </div>
        </div>
    </div>
    <div class="col-xs-4">
            <div class="panel panel-default clickable" data-target="#home" aria-controls="home" role="tab" data-toggle="tab">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Home
                </div>
            </div>
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Profile
                </div>
            </div>
        </a>
        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Messages
                </div>
            </div>
        </a>
        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Settings
                </div>
            </div>
        </a>
    </div>
</div>
