
@{
    ViewBag.Title = "Add";
}

<h2>Add user to Role</h2>

@using (@Html.BeginForm("Add", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Name", (string)ViewBag.Name)
    @Html.ListBox("AssignedUsers")
    <button type="submit">Submit</button>
}
