@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Admin";
}

<h2>Admin Index</h2>

@foreach (var role in Model)
{
    <a href="@Url.Action("Manage", new {role.Name})">Manage @role.Name users</a>
    <br/>
}
